.red{
    width: 50px;
    height: 100;
    background-color: red;
}

.green{
    width: 50px;
    height: 100;
    background-color: green;
}

.blue{
    width: 50px;
    height: 100;
    background-color: blue;
}

.active{
    background-color: rgb(3, 78, 97);
    color: #fff;
    border: 1px solid rgb(3, 78, 97);
}

.card{
    border: 1px solid gray;
    height: 50px;
    width: 500px;
}