<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue.js 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">{{title}}</div>
        <script src="js/app.js"></script>
    </body>
</html>