<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue.js 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <h2>Count: {{count}}</h2>
            <button type="" @click="increase($event, 1)">Increment 1</button>
            <button type="" @click="decrement(1)">Decrement 1</button>
            <br>
            <button type="" @click="increase(3)">Increment 3</button>
            <button type="" @click="decrement(2)">Decrement 2</button>
            <hr>
            <button type="" @click="test($event)">Test</button>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>