<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue.js 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <h1>Enter a number</h1>
            <input type="text"  v-model="num"/>
            <br>
            <button  @click="getDouble">Double</button>
            <button @click="getSquare">Get Square</button>
            <button @click = "reset">Reset</button>
            <hr>
            <label for="">Entered number: {{num}}</label>
            <br>
            <label for="">Result: {{result}}</label>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>