<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue.js 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <table>
                <tr v-for="(value, key) in skills">
                    <td>{{key}} : {{value}}</td>
                </tr>
            </table>
            <p v-for="i in 5">
                {{i}}
            </p>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>