<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue.js 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <button type="" @click="hideShow">Hide / show</button>
           <div class="card" v-if="show">
            </div>
            <br>
            <p v-for="(skill, i) in skills" @click="remove(i)">{{skill.name}} - 
                <span v-if="skill.experience <= 5">Begainner</span>
                <span v-if="skill.experience > 5">Expart</span>
            </p>
            <span>Total: {{totalCount()}}</span>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>