<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue.js 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="newSkills.name"><br>
            <input type="text" v-model="newSkills.experience">
            <button type="submit" @click="addNew">Add</button>
            <ul>
                <li v-for="
                (skill, i) in skills"  @click="remove(i)" :key="skill.name">
                    <p>
                        {{i+1}} {{skill.name}} ({{skill.experience}})
                        <br>
                        <input type="" placeholder="remark" @click.stop> 
                    </p>
                </li>
            </ul>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>