<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue.js 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app1">
            <!-- <input type="text" v-model="value">
            <h2>Value is: {{value}}</h2> -->
        </div>

        <div id="app2">
            <!-- <h2>Value is: {{value}}</h2> -->
        </div>
        <script src="js/app.js"></script>
    </body>
</html>