<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue.js 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <h2>Enter your name:</h2>
            <input type="text" @keyup="handleKeyUp($event)">
            <p>Welcome:{{show}} </p>
            <hr>

            <form @submit.prevent="hendleFormSubmit">
                <h2>Enter your name:</h2>
                <input type="text" @keyup="handleKeyUp($event)">
                <p>Welcome:{{show}} </p>
                <button type="submit">Ok</button>
            </form>

            <hr>

            <div class="card" style="height: 200px; width: 200px; border: 1px solid gray;" @click.right="handleCardClick">
                <button type="" @click.stop="viewClick">Click</button>
            </div>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>